@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-primary bg-base;
/* 
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal; */
  }
}


@font-face {
  font-family: 'Futura Bk';
  src: local('Futura-Book'), url('./assets/fonts/Futura-Book.ttf') format('truetype');
  font-weight: normal;
}

